#Mfoto{
    border-radius: 50%;
    border-style: solid;
    border-color: skyblue;
}
body{
    background-color: rgb(0, 0, 0);
    
}
.simple-text{
    color: skyblue;

}
.Mhabilidades{

}
.Mblog{

}
#mainT{
    color: skyblue;
}
h4{
    color: skyblue;
    font-size: 25px;
}