@import url('https://fonts.googleapis.com/css?family=Miriam+Libre|Share&display=swap');
 
*{
  /* border:solid 2px white; */
}
p{
  color: aliceblue;
}
body {
  width: 100%;
  background-color: rgb(0, 0, 0);
    
}
h3 {
  font-family: 'Share', cursive;
  color: rgb(255, 0, 191);
}
#Mfoto {
  width: 120px;
  border-radius: 50%;
  border-style: solid;
  border-color: aqua;
}
#mainT {
  color: skyblue;
  font-family:'Share', cursive;
}
#intro {
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
#boxes-sector {
  width: 100%;
}
.simple-text {
  color: skyblue;

}
.simple-text {
  color: skyblue;

}

/* "css dedicado ao teste 1" */
.boxes-sector{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vh;

}
.simple-text.b1 {
  color: skyblue;
  text-align: center;
}
.box-edit h2, .box-edit h3{
  /* color: aqua; */
}
.css-test1{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-template-rows: auto;
  grid-gap: 0 40px;
  
}
.boxes {
  height: 450px;
  padding: 20px;
  border: aqua solid 1px;

}
.box-edit{
  border: aqua solid 1px;
  padding: 20px;
}
.box-edit h2{
  position: relative;
  top: -30px;
  right: 20px;
  padding: 0;
  margin: 0;
  font-size: 5em;
  color: rgba(255, 255, 255, 0.068);
  transition: ;

}
